{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body class="bg-black text-white font-sans">
<div class="container mx-auto px-4">
    {% for s in records %}
    <div class="card my-6 p-6 bg-gray-800 rounded-lg shadow-lg">
        <h2 class="title text-lg font-semibold">Booking Id: {{s.BookingId}}</h2>
        <h4 class="text-right text-sm">{{s.booking_date}}</h4>
        <div class="bar mt-4 relative">
            <div class="emptybar w-full h-1 bg-gray-700"></div>
            <div class="filledbar absolute top-0 left-0 h-1 w-0 bg-gradient-to-r from-blue-600 via-yellow-500 to-yellow-300 transition-all duration-300 ease-out"></div>
        </div>
        <div class="mt-4">
            <table class="w-full text-left">
                <tr>
                    <td>Movie Name:</td>
                    <td>{{s.movie_name}}</td>
                    <td class="w-16"></td>
                    <td>Theatre Name:</td>
                    <td>{{s.theatre_name}}</td>
                </tr>
                <tr>
                    <td>Show Time:</td>
                    <td>{{s.show_time}}</td>
                    <td class="w-16"></td>
                    <td>Show Date:</td>
                    <td>{{s.show_date}}</td>
                </tr>
                <tr>
                    <td>Amount Paid (in $):</td>
                    <td>{{s.total_amount}}</td>
                    <td class="w-16"></td>
                    <td>Seats:</td>
                    <td>{{s.seats}}</td>
                </tr>
            </table>
        </div>
    </div>
    {% endfor %}
</div>
<!-- FOOTER START -->
<footer class="py-5 bg-gray-800">
    <div class="container mx-auto px-4 text-center"><p class="m-0 text-white">Copyright &copy; Cinema E-Booking 2023</p>
    </div>
</footer>
<!-- FOOTER END -->
</body>
</html>
{% endblock %}





