{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% load static %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
          integrity="sha512-wnea99uK/3xBD8MyJwA8ZU6Pj+7VATJ9OYC9NTVHr2djDsn+OeU6rDh6P47/eh6KjFS7Yusen9YgV7Ea2rUgxA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

{% block content %}
<div class="min-h-screen bg-gradient-to-br from-gray-800 to-gray-900 flex items-center justify-center py-5">
    <div class="bg-gray-700 w-full max-w-md p-8 rounded-lg">
        <h2 class="text-2xl font-bold text-center mb-5 text-white">Set a new password!</h2>
        <form method="POST" class="space-y-4">
            {% csrf_token %}
            <div>
                <label for="current_password" class="text-white">Current password</label>
                <input class="form-control form-control-lg w-full px-4 py-2 mt-1 bg-gray-600 text-white border border-gray-500 focus:bg-gray-600 rounded"
                       type="password" name="current_password" id="current_password" maxlength="30" required/>
            </div>
            <div>
                <label for="new_password" class="text-white">New password</label>
                <input class="form-control form-control-lg w-full px-4 py-2 mt-1 bg-gray-600 text-white border border-gray-500 focus:bg-gray-600 rounded"
                       type="password" name="new_password" id="new_password" onInput="check()" maxlength="30" required/>
                <ul id="password_criteria" class="mt-2 text-gray-400 space-y-1">
                    <li id="check0"><i class="far fa-check-circle"></i> Length more than 8.</li>
                    <li id="check1"><i class="far fa-check-circle"></i> At least one numeric.</li>
                    <li id="check2"><i class="far fa-check-circle"></i> At least one symbol.</li>
                </ul>
            </div>
            <div>
                <label for="reset_password" class="text-white">Confirm password</label>
                <input class=" focus:bg-gray-600 form-control form-control-lg w-full px-4 py-2 mt-1 bg-gray-600 text-white border border-gray-500 rounded"
                       type="password" name="confirm_password" id="reset_password" onInput="check1()" maxlength="30"
                       required/>
                <p id="check3" class="mt-2 text-gray-400"><i class="far fa-check-circle"></i> Passwords Matched.</p>
            </div>
            <input type="submit" value="Change Password"
                   class="w-full border-2 cursor-pointer text-white py-2 px-4 rounded font-semibold"/>
        </form>
        <p class="text-center text-muted mt-5 mb-0 text-white"><a class="text-white" href="/">E-Cinema Booking System</a></p>
        {% if messages %}
        {% for message in messages %}
        <h3 class="text-white">{{message}}</h3>

        {% endfor %}
        {% endif %}

    </div>
</div>
<script>
    function check() {
        var input = document.getElementById("new_password").value;
        if (input.length >= 8) {
            document.getElementById("check0").style.color = "lime";
        } else {
            document.getElementById("check0").style.color = "red";
        }
        if (input.match(/[0-9]/i)) {
            document.getElementById("check1").style.color = "lime";
        } else {
            document.getElementById("check1").style.color = "red";
        }
        if (input.match(/[^A-Za-z0-9-' ']/i)) {
            document.getElementById("check2").style.color = "lime";
        } else {
            document.getElementById("check2").style.color = "red";
        }
    }

    function check1() {
        var input = document.getElementById("new_password").value;
        var input1 = document.getElementById("reset_password").value;
        if (input1 == input) {
            document.getElementById("check3").style.color = "lime";
        } else {
            document.getElementById("check3").style.color = "red";
        }
    }
</script>
{% endblock %}